{% extends "main.html" %}

{% block point_container %}
<main class="container">
    <hr>
    <div>
        <canvas id="AntiSurgeLine"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script>
        const data = {
            datasets: [
                {
                    label: 'My Dataset #1',
                    showLine: true,
                    data: {{ graph_1 | safe }},
                },
                {
                    label: 'My Dataset #2',
                    showLine: true,
                    data: {{ graph_2 | safe }},
                },
            ],
        };
    </script>
    <script>
        const AntiSurgeLine = new Chart(
            document.getElementById('AntiSurgeLine'),
            config = {
                type: 'scatter',
                data: data,
                options: {
                    scales: {
                        xAxes: [
                            {
                                type: 'linear',
                                position: 'bottom',
                            },
                        ],
                        yAxes: [
                            {
                                type: 'linear',
                            },
                        ],
                    }
                }
            },
        );
    </script> -->

    <script>
        const data = {
            labels: {{ y_axis | safe }},
        datasets: [{
            label: 'Surge Line',
            backgroundColor: 'rgb(255, 100, 132)',
            borderColor: 'rgb(255, 100, 132)',
            data: {{ line_1 | safe }},
            },
        {
            label: 'Anti Surge Line',
            backgroundColor: 'rgb(255, 205, 87)',
            borderColor: 'rgb(255, 205, 87)',
            data: {{ line_2 | safe }},
            }
        ]
        };
    </script>
    <script>
        const AntiSurgeLine = new Chart(
            document.getElementById('AntiSurgeLine'),
            config = {
                type: 'line',
                data,
                options: {
                    indexAxis: 'y',
                    scales: {
                        y: {
                            reverse: true,
                            ticks: {
                                crossAlign: 'far',
                            },
                        },
                        x: {
                            ticks: {
                                stepSize: 5,
                            },
                        },
                    }
                }
            }
        );
    </script>


    <!-- <section class="container-fluid">
        <form method="post">
            <div class="col-auto">
                <div class="input-group mb-3">
                    <input aria-describedby="button-addon2" aria-label="Add a todo" class="form-control" name="item"
                           placeholder="Purchase Packt's Python workshop course" type="text"
                           value="{{ item }}"/>
                    <button class="btn btn-outline-primary" data-mdb-ripple-color="dark" id="button-addon2"
                            type="submit">
                        Add Todo
                    </button>
                </div>
            </div>
        </form>
    </section> -->
    <!-- {% if todo %}
    <article class="card container-fluid">
        <br/>
        <h4>Todo ID: {{ todo.id }} </h4>
        <p>
            <strong>
                Item: {{ todo.item }}
            </strong>
        </p>
    </article>
    {% else %}
    <section class="container-fluid">
        <h2 align="center">Todos</h2>
        <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for todo in todos %}
                <li class="list-group-item">
                    {{ loop.index }}. <a href="/todo/{{ loop.index }}"> {{ todo.item }} </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </section> -->
</main>
{% endblock %}